<template>
  <div>
    <div>Id: {{ details.id }}</div>
    <div>From: {{ details.from }}</div>
    <div>To: {{ details.to }}</div>
    <div>Amount: {{ details.amount }}</div>
    <div>Title: {{ details.title }}</div>
  </div>
</template>

<script>
export default {
  name: 'history-details',
  props: {
    details: {
      id: Number,
      from: String,
      to: String,
      amount: String,
      title: String
    }
  }
};
</script>
