<template>
  <div class="row">
    <div class="col-md-12">
      <h2>Transfer History</h2>
    </div>
    <div class="row">
      <div class="col-md-12"><h2>Details:</h2></div>
    </div>
    <div class="row">
      <div class="col-md-12" v-if="!details">No details sorry!</div>
      <div class="col-md-12" v-if="details">
        <history-details
          :details="details">
        </history-details>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="title">Search</label>
          <input type="text" id="search" class="form-control" @keyup="search($event.target.value)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>From</th>
              <th>To</th>
              <th>Amount</th>
              <th>Show Details</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="transfer in listFiltered" :key="transfer.id">
              <td>{{ transfer.id }}</td>
              <td>{{ transfer.from }}</td>
              <td>{{ transfer.to }}</td>
              <td>{{ transfer.amount }}</td>
              <td>
                <button
                  class="btn btn-info"
                  v-on:click="showDetails(transfer)">
                  Show Details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import TransferService from '../services/TransferService'
import HistoryDetails from './HistoryDetails'

export default {
  name: 'history',

  components: {
    'history-details': HistoryDetails
  },

  data() {
    return {
      details: '',
      transferList: TransferService.getTransferList(),
      searchKey: ''
    }
  },

  computed: {
    listFiltered() {
      if (!this.searchKey) {
        return this.transferList;
      }
      return this.transferList.filter(item => {
        return itemContains(item.amount, this.searchKey) ||
         itemContains(item.from, this.searchKey) ||
         itemContains(item.to, this.searchKey)
        })
    }
  },

  methods: {
    showDetails(transfer) {
      this.details = transfer
    },
    search(input) {
      this.searchKey = input
    }
  }
};

function itemContains(item, searchKey) {
  return item.toLowerCase().includes(searchKey)
}
</script>
