<template>
  <div class="row">
    <div class="col-md-12 text-center">
      <router-link to="/" tag="button" class="btn btn-primary">Transfer</router-link>
      <router-link to="/history" tag="button" class="btn btn-primary">History</router-link>
      <router-link to="/transfer-template" tag="button" class="btn btn-primary">Transfer template</router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: 'navigation',
};
</script>
