<template>
  <div class="row">
    <div class="col-md-12">
      <h2>Transfer Template</h2>

      <form>
        <div class="form-group">
          <label for="from">Name</label>
          <input type="text" id="name" class="form-control" v-model="model.name">
        </div>

        <div class="form-group">
          <label for="from">From</label>
          <input type="text" id="from" class="form-control" v-model="model.from">
        </div>

        <div class="form-group">
          <label for="to">To</label>
          <input type="text" id="to" class="form-control" v-model="model.to">
        </div>

        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" id="amount" class="form-control" v-model="model.amount">
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" v-model="model.title">
        </div>

        <button class="btn btn-success" v-on:click="addTemplate()">Add a Transfer Template</button>
      </form>
    </div>
  </div>
</template>

<script>
import TransferService from '../services/TransferService'

const initialModel = {
  name: '',
  from: '',
  to: '',
  amount: '',
  title: '',
};

export default {
  name: 'transfer-template',

  data() {
    return {
      model: Object.assign({}, initialModel),
      transferService: TransferService
    };
  },

  methods: {
    addTemplate() {
      this.transferService.addTransferTemplate(this.model);
      this.model = Object.assign({}, initialModel);
    }
  }
};
</script>
