<template>
  <div class="row">
    <div class="col-md-12">
      <h2>Make a Transfer</h2>

      <select
        v-if="transferTemplateList.length"
        v-model="selectedTemplate"
        @change="templateSelected(selectedTemplate)">
        <option disabled value="">Please select one</option>
        <option
          v-for="transferTemplate in transferTemplateList"
          :key="transferTemplate.from"
          :value="transferTemplate">
          {{ transferTemplate.name }}
        </option>
      </select>

      <form>
        <div class="form-group">
          <label for="from">From</label>
          <input type="text" id="from" class="form-control" v-model="model.from">
        </div>

        <div class="form-group">
          <label for="to">To</label>
          <input type="text" id="to" class="form-control" v-model="model.to">
        </div>

        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" id="amount" class="form-control" v-model="model.amount">
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" v-model="model.title">
        </div>

        <button class="btn btn-success" v-on:click="submit()">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
import TransferService from '../services/TransferService'

export default {
  name: 'transfer',

  created() {
    this.transferTemplateList = this.transferService.getTransferTemplateList();
  },

  data() {
    return {
      transferTemplateList: [],
      selectedTemplate: {},
      model: {
        from: '',
        to: '',
        amount: '',
        title: '',
      },
      transferService: TransferService
    };
  },

  methods: {
    submit() {
      this.transferService.addTransfer(this.model);
    },
    templateSelected(selectedTemplate) {
      this.model = Object.assign({}, selectedTemplate);
    },
  },
};
</script>

<style scoped>

</style>
